---
---

@import url('https://fonts.googleapis.com/css?family=Rubik');
@charset "UTF-8";

article, aside, footer, header, main, nav, section {
    display: block;
}

html, body, h1, h2, h3, h4, h5, h6, ui, li, a, p, img, iframe article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
}

* { 
    font-family: 'Rubik';
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
}

/*
p {
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}
*/

.bar {
    background-color: #276f1e;
    font-size: 30px;
    padding-top: 1em;
    padding-bottom: 4.2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: fixed;
    width: calc(100% - 20px);
    height: calc(1% - 20px);
    z-index: 1;
}

.bar_logo {
    float: left;
    padding-top: 0.4em;
}

.bar_nav {
    position: fixed;
    right: 1.5em;
}

li a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.banner {
    background-color: #36922a;
    padding-top: 304px;
    padding-bottom: 148px;
}

body {
    margin-left: auto;
    margin-right: auto;
    background-color: #36922a;
    font-size: 18px;

    header div nav ul li a {
        font-size: 40%;
        padding-left: 5px;
    }
}

@media (min-width: 1024px) {

    body header div nav ul li {
        padding-left: auto;

        a img {
            font-size: 90%;
            padding-right: 30px;
        }

        ul img {
            transform: scale(1.0, 1.0);
        }
    }

    /* CSS rules here for screens above px */
}

@media (max-width: 1024px) {

    body header div nav ul li {
        a {
            font-size: 70%;
            padding-right: 10px;
        }

        ul img {
            transform: scale(0.7, 0.7);
        }
    }

    /* CSS rules here for screens lower than px */
}

@media (max-width: 800px) {

    body header div nav ul li {
        padding-left: 5em;

        a {
            font-size: 50%;
        }

        ul img {
            transform: scale(0.5, 0.5);
        }
    }

    /* CSS rules here for screens lower than px */
}

h1 {
    font-size: 90px;
}

h2 {
    background-color: #276f1e;
    color: white;
    padding: 20px;
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

body header table {
    padding-top: 2em;
    padding-bottom: 4em;
    width: 95%;

    td {
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 2em;

        a h3 {
            padding-top: 1.5em;
        }
    }

    img {
        transform: scale(0.9, 0.9);
    }

    a img:hover {
        transform: scale(1.0, 1.0);
    }
}

a img:hover {
    transform: scale(1.1, 1.1);
}

iframe {
}

.footerLinks nav {
    font-size: 12px;
    padding-top: 3em;
    padding-right: 4em;
    margin-left: auto; 
    margin-right: 0px;

    ul li a {
        padding-left: 2em;
        padding-right: 2em;
    }
}
