@import url('https://fonts.googleapis.com/css?family=Rubik');
@charset "UTF-8";

article, aside, footer, header, main, nav, section {
    display: block;
}

html, body, h1, h2, h3, h4, h5, h6, ui, li, a, p, img, iframe article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Rubik';
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
}

p {
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}

.bar {
    background-color: #276f1e;
    font-size: 30px;
    padding-top: 1em;
    padding-bottom: 4.2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.bar_logo {
    float: left;
    padding-top: 0.4em;
}

.bar_nav {
    float: right;
}

li a {
    text-decoration: none;
    padding-left: 30px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.banner {
    background-color: #36922a;
    padding-top: 148px;
    padding-bottom: 148px;
}

body {
    margin-left: auto;
    margin-right: auto;
    background-color: #36922a;
    font-size: 18px;
}

h1 {
    font-size: 90px;
}

h2 {
    background-color: #276f1e;
    color: white;
    padding: 20px;
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

table {
    padding-top: 2em;
    padding-bottom: 7em;
}

table td {
    padding-top: 5em;
    padding-left: 3em;
    padding-right: 3em;
}

table img {
    transform: scale(0.9, 0.9);
}

table img:hover {
    transform: scale(1.0, 1.0);
}

a img:hover {
    transform: scale(1.1, 1.1);
}

iframe {
}
