@import url('https://fonts.googleapis.com/css?family=Rubik');
@charset "UTF-8";

article, aside, footer, header, main, nav, section {
    display: block;
}

html, body, h1, h2, h3, h4, h5, h6, ui, li, a, p, img, iframe article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Rubik';
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
}

p {
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}

.bar {
    background-color: #276f1e;
    font-size: 30px;
    padding-top: 1em;
    padding-bottom: 4.2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: fixed;
    width: calc(100% - 20px);
    height: calc(1% - 20px);
    z-index: 1;
}

.bar_logo {
    float: left;
}

.bar_nav {
    position: fixed;
    right: 1.5em;
}

li a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

body {
    margin-left: auto;
    margin-right: auto;
    background-color: #36922a;
    font-size: 18px;
}

body header div nav ul li a {
    font-size: 40%;
    padding-left: 5px;
}

@media (min-width: 1024px) {

    body header div nav ul li a {
        font-size: 90%;
        padding-right: 30px;
    }

    .bar h2 {
        font-size: 30px;
    }

    .projects table tr {
        padding-bottom: 1em;
        width: 90%;
        height: 180px;
    }

    /* CSS rules here for screens above px */
}

@media (max-width: 1380px) {

    body header div nav ul li a {
        font-size: 70%;
        padding-right: 10px;
    }

    .bar_logo {
        float: left;
        max-width: 35%;
        padding-bottom: 0px;
    }

    .bar_logo h2 {
        font-size: 25px;
        padding-bottom: 7px;
    }

    .projects table tr a img {
        padding-bottom: 1em;
        width: 120px;
        height: 120px;
    }

    .projects table tr td a h3 {
        padding-top: 0;
    }

    /* CSS rules here for screens lower than px */
}

@media (max-width: 800px) {

    body header div nav ul li a {
        font-size: 50%;
    }

    body header div nav ul li {
        padding-left: 5em;
    }

    .bar h2 {
        font-size: 20px;
    }

    .projects table tr td a img {
        padding-bottom: 1em;
    }

    .projects table tr td a {
        padding: 0;
    }

    /* CSS rules here for screens lower than px */
}

h1 {
    font-size: 90px;
}

h2 {
    background-color: #276f1e;
    color: white;
    padding: 20px;
    font-size: 30px;
}

h3 {
}

h4 {
    text-align: left;
    font-size: 26px;
    padding-top: 2em;
    padding-bottom: 2em;
}

td {
    padding-right: 1em;
}

a img:hover {
    transform: scale(1.1, 1.1);
}

.project {
    padding-top: 13em;
    padding-left: 3em;
}

div.gallery {
    float: left;
    padding-bottom: 2em;
    padding-right: 2em;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery a img {
    padding-bottom: 1em;
}

div.gallery table tr td img:hover {
    transform: scale(1.05, 1.05);
}

.projects table tr {
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;
}

.projects table tr td a {
    width: 100%;
    padding-left: 1em;
    padding-right: 2em;
}
    
    .projects table tr td a h3 {
        padding-bottom: 2em;
   }

.projects table tr td h3 {
    padding-top: 1.5em;
}

.projects table tr td img:hover {
    transform: scale(1.05, 1.05);
}

table.projectDesc h4 {
    width: 95%;
}

div.code {
    text-align: left;
    font-size: small;
    padding: 15px;
    border: 5px solid #276f1e;
    font-family: Consolas, Helvetica, sans-serif;
    word-wrap: break-word;
}

.codePreview {
    background-color: #353535;
}

.buttons {
    height: auto;
    text-align: center;
    padding-right: 3em;
}

.set:not(:last-child) {
    border-bottom: 1px dotted #aaa;
}

.btn {
    display: inline-block;
    min-width: 110px;
    margin: 15px 5px;
    padding: 10px 15px 12px;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
    cursor: pointer;
}

.btn.sec {
    color: #777;
    background: #fff;
}

.btn.sec:hover {
    background: #f5f5f5
}

.btn.pri {
    color: #fff;
    background: #00ad13;
}

.footerLinks nav {
    font-size: 12px;
    padding-top: 3em;
    padding-right: 4em;
    margin-left: auto;
    margin-right: 0px;
}

.footerLinks nav ul li a {
    padding-left: 2em;
    padding-right: 2em;
}