<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title}} - Blake Boris</title>
        <link rel="favicon" type="image/x-icon" href="assets/BlakeSurprisedCircle.png" />
        <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="{{ "/script/page-loader.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
    </head>
    <body>
        <header class="bar">
            <div class="headerBar wrap clearfix">
                <div class="bar_logo">
                    <h2>{{ page.title }}</h2>
                    <a href="#home">
                        <img src="/sites/assets/BlakeSurprisedCircle.png" alt="blake" height="75" width="75" />
                    </a>
                </div>
                <nav class="bar_nav">
                    <ul class="nav">
                        <li class="nav_item">
                            <ul> 
                                <img src="/sites/assets/SiteCircle.png" alt="blake" height="20" width="20" />
                                <a href="#about/about">About</a>
                                <img src="/sites/assets/SiteSquare.png" alt="blake" height="20" width="20" />
                                <a href="#apps/apps">Applications</a>
                                <img src="/sites/assets/SiteRhombus.png" alt="blake" height="20" width="20" />
                                <a href="#games/games">Games</a>
                                <img src="/sites/assets/SiteTriangle.png" alt="blake" height="20" width="20" />
                                <a href="#mods/mods">Mods</a>
                                <a href="https://github.com/PlGGS">GitHub</a>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="content">
            {{ content }}
        </div>

        <footer>
            <div class="footerLinks">
                <nav>
                    <ul>
                        <li>
                            <a href="#about/about">About</a>
                            <a>|</a>
                            <a href="https://github.com/PlGGS?tab=overview&from=2016-12-01&to=2016-12-31">2016</a>
                            <a>|</a>
                            <a href="https://github.com/PlGGS?tab=overview&from=2017-12-01&to=2017-12-31">2017</a>
                            <a>|</a>
                            <a href="https://github.com/PlGGS?tab=overview&from=2018-01-01&to=2018-12-31">2018</a>
                            <a>|</a>
                            <a href="#gallery/gallery">Gallery</a> <!--TOOD make gallery--> <!--TODO add finalized footer to all pages-->
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </body>
</html>
